body {
    padding: 0;
    margin: 0;
    width: 100%;
}

header {
    width: 100%;
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    margin-top: 20px;
}

ul {
    color: white;
    margin: 0;
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}
.nav-link{
    color: white !important;
}
.container-name h2 {
    color: white;
    margin: 0;
}

.container-name {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.carrito-compras {
    width: 40px;
    height: 40px;
}

.productos-container {
    margin-top: 20px;
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
    font-size: 4rem; 
    color: #030303; 
}

.carousel-inner {
    display: flex;
    flex-direction: row;
}

.carousel-item {
    
    justify-content: center;
}

.d-flex {
    display: flex;
    gap: 30px;
}

.cart span{
    color: white;
}
.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 220px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    gap: 10px;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto-info {
    padding: 10px 0;
}

.producto-info h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.producto-info .precio {
    font-size: 1.1rem;
    color: #b12704;
    margin: 5px 0;
}

.producto-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.producto-actions .cantidad-input {
    width: 60px;
    padding: 5px;
}

.like-button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
}

.agregar-button {
    background-color: #0e0d0d;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.agregar-button:hover {
    background-color: #5f5b56;
}

.promos {
    justify-content: center;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
/* POP UP */

.cart-popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.cart-popup-content ul{
    color: black;
}
.close-cart-popup {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    cursor: pointer;
}
.cart-items-list{
    display: flex;
    flex-direction: column;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.cart-item-img {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}
.cart-item-name {
    font-weight: bold;
}

.cart-item-price {
    margin-right: 5px;
}

.cart-item-quantity {
    font-style: italic;
}
.precio-original {
    text-decoration: line-through;
    color: red;
    margin-right: 8px;
}

/* TOAST */
.toast-container {
    z-index: 1055;
    top: 1rem; 
    right: 1rem; 
}

.toast-header {
    background-color: #416183 !important;
    color: #fff !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.toast {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.toast-body {
    color: #000;
    font-size: 1rem;
}

.toast .btn-close {
    filter: invert(1);
}



/* FOOTER */
.footer{
    background-color: black;
}


/* NOSOTROS */
.banner-nosotros img {
    width: 100%;
    height: 92vh;
}

.text-nosotros {
    opacity: 0.7; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-nosotros h5 {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin-top: -20%;
    text-align: center;
}

/* CONTACTO */
.contact-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    background-color: #fff;
}
.map-container {
    height: 400px;
}
.container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
label{
    font-size: 20px;
}
.container-button{
    display: flex;
    justify-content: center;
}
.container-button button{
    width: 40%;
    background-color: black;
    border: none;
    font-size: 20px;

}
.contact-container h1, p{
    text-align: center;
}

/* MILKA */
.banner-milka{
    width: 100%;
}
.section-slogans{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.container-productos{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    gap:10px;
}

/* CARNERS */
.banner-carnes{
    width: 100%;
}
.carne-information{
    width: 60%;
}
.informacion-carnes{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 5px;
}